<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css">
    
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <ul class="pull-left">
          <li><a href="#">Doormate</a></li>
          <li><a href="#"></a></li>
        </ul>
        <ul class="pull-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>Get ready to never</h1>
        <h1>miss a package</h1>
        <h1>delivery again.</h1>
        <p>Introducing Doormate</p>
        <a href="#">How it works</a>
        <a href="#">Try Doormate for free!</a>
      </div>
    </div>
    
    <div class="how-it-works">
        <div class="container">
        <h2> How it works </h2>
        <p> Say hello to your shipments and goodbye to missed delivery notices. Doormate delivers your online orders when you want them with hourly scheduling from 6pm to midnight, 7 days a week. </p>
        
        <div class="row">
        <div class="col-md-3">
        <div class="thumbnail">
        <img src="http://www.clker.com/cliparts/l/E/A/d/m/X/shopping-cart-hi.png">
        </div>
        </div>
        
        <div class="col-md-3">
        <div class="thumbnail">
        <img src="https://cdn0.iconfinder.com/data/icons/logistic-2/450/messanger-512.png" >
        </div>
        </div>
        
        <div class="col-md-3">
        <div class="thumbnail">
        <img src="http://mockuphone.com/static/images/phones/iphone6plus/iphone6plus_spacegrey_portrait.png" >
        </div>
        </div>
        
        <div class="col-md-3">
        <div class="thumbnail">
        <img src="http://www.vectorea.com/tvx_uploads/4/721-icon-home-button.jpg" >
        </div>
        </div>
        
        </div>
        </div>
    </div>

    <div class="learn-more">
 <div class="container">
<div class="row">
     <div class="col-md-3">
<h3>Shop online</h3>
<p>Shop anywhere online, and ship to your personal Doorman shipping address.</p>

     </div>
     
 <div class="col-md-3">
<h3>Ship it to Doormate</h3>
<p>We'll sign for you, send you a notification, and securely hold your package at our depot until you're ready.</p>
 </div>
 
 <div class="col-md-3">
<h3>Schedule delivery</h3>
<p>Use the Doorman app to schedule delivery from 6pm to midnight, seven days a week, same day or a month away.</p>
 </div>
 
 <div class="col-md-3">
<h3>Get your stuff</h3>
<p>Package delivery when you're actually home. No more missed deliveries, no more stolen packages.</p>
 </div>
   </div>
 </div>
</div>
  </body>
</html>